


/* ------------------Home Css----------- */
.home {
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.home h2{
    display: inline;
    padding: 0 300px;
    font-size: 50px;
    border-bottom: 2px solid rgb(208, 208, 208);

}