
/*---------- Style Cars ----------------- */
.car {
    margin: 20px 40px;
    display: inline-block;
    padding: 0px 0px;
    border-radius: 10px;
    background-color: white;
    
}

.car img{
    
    max-height: 200px;
    width: 100%;
    border-radius: 30px;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* ------------------Home Css----------- */
.home {
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.home h2{
    display: inline;
    padding: 0 300px;
    font-size: 50px;
    border-bottom: 2px solid rgb(208, 208, 208);

}