
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 100px;
}

.top {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}